body {
    display: flex;
}

#sliderBar {
    width: 395px;
    height: 100%;
    position: absolute;
    overflow-y: auto;
}

#container {
    flex: 1;
    margin-left: 400px;
    height: 100%;
    overflow-y: auto;
}

div#defaultMsg {
    display: none;
    min-width: 500px;
    height: 100%;
    font-size: 20px;
    line-height: 3;
    padding: 50px;
}

div#defaultMsg code {
    border-radius: 10px;
    background: #EEE;
    padding: 15px;
}

.input-wrapper {
    /* border: 1px solid #ddd; */
    border-radius: 2px;
    margin: 10px 10px;
}

.input-wrapper input {
    border: 0;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    margin: 2px 10px;
    outline: 0;
    padding: 3px 0 3px;
    resize: none;
    width: 100%;
}

div#editor {
    padding: 10px 20px;
}

.header {
    font-size: 2.2rem;
}

body {
    min-width: 920px;
}

.edit-section {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 30px;
}

.block-wrapper {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 20px;
}

.block-wrapper::before {
    background: #ececec;
    background-image: linear-gradient(#f4f4f4, #ececec);
    border-bottom: 1px solid #ddd;
    cursor: row-resize;
    min-height: 10px;
    display: block;
    content: ' ';
}

.array-wrapper .array-input {
    margin-top: 5px;
}

.label {
    color: #999;
}

#uploadBtn{
    border: 1px solid #d4d4d4;
    background-color: #ececec;
    padding: 2px;
    margin-left: 21px;
    margin-top: 3px;
    font-size: 12px;
    border-radius: 4px;
}

.download button{
    border: 1px solid #d4d4d4;
    background-color: #ececec;
    padding: 3px;
    float: right;
    outline: none;
}

.download {
    margin-bottom: 20px;
    overflow: auto;
}

.sectionBox {
    border: 1px dashed #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-top: 10px solid  black;
    border-radius: 10px;
    position: relative;
}

.btn-add {margin: 0px 0 0 5px;display: inline-block;height: 20px;width: 20px;background-image: url(../image/icon-add.jpg);cursor: pointer;vertical-align: middle;}
.btn-delete {margin: 0 0 0 3px;display: inline-block;height: 20px;width: 20px;background-image: url(../image/icon-delete.jpg);cursor: pointer;vertical-align: middle;}

.header .input-wrapper {
    margin: 0;
}

.header .input-wrapper input {
    font-size: 2.0rem;
}

.fragmentBlock {
    position: relative;
}

.deleteFragment {
    position: absolute;
    right: 7px;
    top: 16px;
}

.points-block-wrapper .deleteFragment {
    position: absolute;
    right: 0;
    top: -10px;
}


div#customSections {
    border: none;
    padding: 0;
    margin-bottom: 40px;
}

.fragment-wrapper,.points-block-wrapper {
    position: relative;
}

input#selectFiles {
    display: none;
}

#downloadBtn {
    background-image: url(../image/download.png);
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}

div.download {
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: -25px;
}

.array-input div {
    margin-bottom: 4px;
}

.section-delete {
    position: absolute;
    right: 14px;
    top: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url(../image/icon-delete2.jpg);
}